<% content_for :title do %>
  <title> Home | Trip Planner</title>
<% end %>

<%= render 'header' %>
<div class="container-fluid">
  <div class="row row-eq-height no-gutter">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel navbar-panel">
            <h1>Trips</h1>
            <%= link_to new_trip_path, class: 'btn btn-info' do %>
              <i class="fa fa-plus-circle"></i>
              New
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1">
          <p class="text-right">
            <%= link_to '', class: 'new-plan' do %>
              <i class="fa fa-plus-circle"></i>
            <% end %>
          </p>
        </div>
        <div class="col-xs-11">
          <% @trips.each do |i| %>
            <div class="day">
              <div class="row">
                <div class="col-xs-12">
                  <%= link_to i.event, i, class: 'btn btn-round btn-secondary' %>
                  <%= link_to 'Delete', i, method: :delete, class: 'btn btn-danger push-right' %>
                </div>
              </div>
              <div class="row">
                <% i.events.each do |t| %>
                  <%= link_to t do %>
                    <div class="col-xs-3">
                      <p class="text-center"><%= t.name %></p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="day">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-center">
                    <p>You don't have any plans for day #{n} yet.</p>
                    <%= link_to new_trip_plan_path, class: 'button' do %>
                      <i class="fa fa-plus"></i>&nbsp;Add Something to Day #{n}
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel navbar-panel">
        <h3>Pin Notes</h3>
        <%= link_to new_pin_note_path, class: 'btn btn-info' do %>
          <i class="fa fa-plus-circle"></i>
          New
        <% end %>
      </div>
      <% @pin_notes.each do |i| %>
        <div class="note">
          <p><%= i.note %></p><br>
          <%= link_to 'Edit', edit_pin_note_path(i), class: 'button' %>
          <%= link_to 'Delete', i, method: :delete, class: 'button alert' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
