- content_for :title do
  %title Plan Details | Trip Planner

.row.mid-full
  .small-12.columns
    %h1= @trip_plan.title
    %hr
    %article
      %section
        %p At #{@trip_plan.time} in Day #{@trip_plan.date} for #{@trip_plan.duration}.</p>
        %p= @trip_plan.notes
        %h4 Place:
        - if @trip_plan.place
          %p Name: #{@trip_plan.place.name}
          %p Description: #{@trip_plan.place.description}
          %p Location: #{@trip_plan.place.location}
          %p URL: #{link_to @trip_plan.place.url, @trip_plan.place.url}
          = link_to 'Edit', edit_trip_plan_place_path(@trip_plan), class: 'button'
          = link_to 'Delete', trip_plan_place_path(@trip_plan), method: :delete, class: 'button warning'
        - else
          = link_to 'Add a Place', new_trip_plan_place_path(@trip_plan), class: 'button'
        %br
        %br
        %hr
        = link_to 'Edit This Plan', edit_trip_plan_path(@trip_plan), class: 'button'
        = link_to 'Delete Plan', @trip_plan, method: :delete, class: 'button alert'

        - if @trip_plan.place
          #map
          :javascript
            var map = new google.maps.Map(document.getElementById('map'), { center: { lat: -34, lng: 150 }, zoom: 8 });
            map.setCenter({ lat: #{@trip_plan.place.lat}, lng: #{@trip_plan.place.long} });
            new google.maps.Marker({map: map, position: { lat: #{@trip_plan.place.lat}, lng: #{@trip_plan.place.long} }});