<% content_for :title do %>
  <title>Event Details | Trip Planner</title>
<% end %>

<%= render 'trips/header' %>

<div class="container">
  <div class="row block mid-full">
    <div class="col-xs-12">
      <h1><%= @event.title %></h1>
      <%= link_to trip_event_path(@event.trip_id, @event), method: :delete, class: 'btn btn-danger pull-right', data: { confirm: 'This will delete this item permanently.' } do %>
        <i class="fa fa-trash-o"></i>&nbsp;Delete
      <% end %>
      <%= link_to edit_trip_event_path(@event.trip_id, @event), class: 'btn btn-round btn-primary pull-right' do %>
        <i class="fa fa-pencil"></i>&nbsp;Edit
      <% end %>
      <%= link_to root_path, class: 'btn btn-round btn-default pull-right' do %>
        <i class="fa fa-arrow-left"></i>&nbsp;Back
      <% end %>
      <hr>
      <article>
        <section>
          <h5><b>Date:</b> <%= @event.date %></h5>
          <h5><b>Time:</b> <%= @event.time %></h5>
          <h5><b>Duration:</b> <%= @event.duration %></h5>
          <h5><b>Place:</b> <%= @event.place %></h5>
          <h5><b>Notes:</b> <%= @event.notes %></h5>
        </section>
      </article>
    </div>
  </div>
</div>
