- content_for :title do
  %title Plans for Day #{@day.day} | Trip Planner

%header.form-header
  .container.form-container
    .row
      .col-xs-12
        %h1 Day #{@day.day}
        %hr

%article
  %section
    .container.form-container
      %h4 Plans:
      - @trip_plans.each do |i|
        %p At #{i.time} in Day #{i.date} for #{i.duration}.
        %p= i.notes
        %h4 Place:
        - if i.place
          %p Name: #{i.place.name}
          %p Description: #{i.place.description}
          %p Location: #{i.place.location}
          %p URL: #{link_to i.place.url, i.place.url}
          = link_to "Edit", edit_trip_plan_place_path(i.place), class: "btn btn-info"
          = link_to "Delete", trip_plan_place_path(i.place), method: :delete, class: "btn btn-warning"
        - else
          = link_to "Add a Place", new_trip_plan_place_path(i.place), class: "btn btn-info"
        %br
        %br
        %hr
        = link_to "Edit This Plan", edit_trip_plan_path(i), class: "btn btn-primary"
        = link_to "Delete Plan", i, method: :delete, class: "btn btn-danger"

    #map
    :javascript
      var map = new google.maps.Map(document.getElementById('map'), { center: { lat: -34, lng: 150 }, zoom: 8 });
    - @trip_plans.each do |i|
      :javascript
        map.setCenter({ lat: #{i.place.lat}, lng: #{i.place.long} });new google.maps.Marker({map: map, position: { lat: #{i.place.lat}, lng: #{i.place.long} }});