- content_for :title do
  %title Plans for Day #{@day.day} | Trip Planner

.row.mid-full
  .small-12.columns
    %h1 Day #{@day.day}
    %hr
    %article
      %section
        %h3 Plans:
        - @trip_plans.each do |i|
          %p At #{i.time} in Day #{i.date} for #{i.duration}.
          %p= i.notes
          %b Place:
          - if i.place
            %p Name: #{i.place.name}
            %p Description: #{i.place.description}
            %p Location: #{i.place.location}
            %p URL: #{link_to i.place.url, i.place.url}
            = link_to 'Edit', edit_trip_plan_place_path(i.place), class: 'button small'
            = link_to 'Delete', trip_plan_place_path(i.place), method: :delete, class: 'button small warning'
          - else
            = link_to 'Add a Place', new_trip_plan_place_path(i.place), class: 'button'
          %br
          %br
          = link_to 'Edit This Plan', edit_trip_plan_path(i), class: 'button'
          = link_to 'Delete Plan', i, method: :delete, class: 'button alert'
          %hr

        #map
        :javascript
          var map = new google.maps.Map(document.getElementById('map'), { center: { lat: -34, lng: 150 }, zoom: 8 });
        - @trip_plans.each do |i|
          :javascript
            map.setCenter({ lat: #{i.place.lat}, lng: #{i.place.long} });new google.maps.Marker({map: map, position: { lat: #{i.place.lat}, lng: #{i.place.long} }});