<% content_for :title do %>
  <title>Login | Trip Planner</title>
<% end %>

<div class="container login-page">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= link_to 'http://abraararique.com/trip_planner' do %>
        <%= image_tag 'tp_inverted', class: 'img-responsive' %>
      <% end %>
    </div>
  </div>
  <div class="row login-row">
    <div class="col-xs-12">
      <h1>Login</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal', role: 'form'}) do |f| %>
        <div class="form-group">
          <div class="col-sm-12 input-group">
            <span class="input-group-addon" id="emailicon"><i class="fa fa-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter your email' , html: {'aria-describedby' => 'emailicon'} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 input-group">
            <span class="input-group-addon" id="passwordicon"><i class="fa fa-unlock"></i></span>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Enter your password' , html: {'aria-describedby' => 'passwordicon'} %>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %>
                  Remember me
                <% end %>
              </div>
            </div>
          </div>
        <% end -%>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.submit "Login", class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      <% end %>
      <%= link_to 'Don\'t have an account? Sign up for free!', new_user_registration_path %>
    </div>
  </div>
</div>
