= form_for @place, url: trip_plan_place_path do |f|
  = f.label :name
  = f.text_field :name, placeholder: 'City Park'
  = f.label :location
  = f.text_field :location, placeholder: '38 Park Street, Seattle, WA'
  = f.text_field :lat
  = f.text_field :long
  = f.label :description
  = f.text_area :description, placeholder: 'Public park, lake and garden besides the road.'
  = f.label :url
  = f.text_field :url, placeholder: 'http://www.example-place.com'
  = link_to 'Back', :back, class: 'button secondary'
  = f.submit 'Save', class: 'button'